<!-- 
Title: order.ejs (https://github.com/buwebdev/web-340/blob/master/week-8/fms/views/order.ejs)
Author: Richard Krasso 
Date: 2/26/2023
Description: An EJS example page that helped me structure the elements of my own pages
-->

<!-- the header partial used on all pages -->
<%- include('./partials/_header.ejs') %>


<!-- This page is "the Booking Page", even though the nav bar link is called "Register" -->
<section>
  <h1 class="center-text">Welcome to the Booking Page!</h1>

  <!-- The page title is determined in the index.js file -->
  <div class="card center-div">
    <div class="card-title"><%= pageTitle %></div>
    <div class="card-content">
      
      <!-- The form will take five inputs -->
      <!-- These inputs will be saved to the database and can be referenced in another page -->
      <div class="form">
        <form action="/booking" method="post">
          <div class="form-field">
            <label for="userName">User Name</label><br />
            <input
              class="input"
              type="text"
              name="userName"
              id="userName"
              required
              autofocus
            />
          </div>

          <div class="form-field">
            <label for="firstName">First Name</label><br />
            <input
              class="input"
              type="text"
              name="firstName"
              id="firstName"
              required
              autofocus
            />
          </div>

          <div class="form-field">
            <label for="lastName">Last Name</label><br />
            <input
              class="input"
              type="text"
              name="lastName"
              id="lastName"
              required
              autofocus
            />
          </div>

          <div class="form-field">
            <label for="email">Email</label><br />
            <input
              class="input"
              type="text"
              name="email"
              id="email"
              required
              autofocus
            />
          </div>

          <div class="form-field">
            <label for="service">Service Option</label><br />
            <select
              name="service"
              id="service"
              class="drop-down-menu full-width"
              required
            >
              <% services.forEach((service) => { %>
              <option value="'<%= service.value %>'">
                <%= service.text %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="form-field">
            <input
              type="submit"
              value="Submit Appointment"
              class="btn btn-primary full-width"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<br /><br /><br /><br />

<!-- the footer partial used on all pages -->
<%- include('./partials/_footer.ejs') %>
